<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Web Visualization MovieData Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-default" style= "background-color: #b6cae9;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="mybutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualizations <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="map1.html">World Map</a></li>
              <li><a href="profits.html">Profits</a></li>
              <li><a href="popularity.html">Popularity</a></li>
             
            </ul>
          </li>
          <li><a href="https://github.com/monicatoledo/Project2">Source</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Creates the Overall Grid -->
  <div class="container">

    <div class="row">
      <div class="col-md-12 jumbotron text-center" style= "background-color: #b6cae9;">
          <h1>Movie Data Analysis </h1> <br>
        </div>
     </div>

    <div class="row">

        <div class="col-md-6 pad top"> <br>

          <div class="text-left">
            <p> The purpose of this project was to analyze :</p>
              <li> How many movies were shown in the last ten years in some countries </li>
              <li> What's the popularity of those movies </li>
              <li> How much profits did those movies generate </li><br>
            <p> Tools : </p> 
              <li><a href="https://developers.themoviedb.org/3/movies/"></a> The Movie Database API (https://developers.themoviedb.org/3/movies/) </li>
              <li> Python, Flask and DB </li>
              <li> JavaScript, Leaflet, d3 </li><br>
          <p> Results : </p>
              <li> A map with markers that represent movie numbers in each year in some countries </li>
              <li> A map with markers that represent movie popularity </li>
              <li> A time-sequence chart that represent profits by country and genre </li>
          </div>

        </div>

    </div>


  </div>
  <!-- Footer-->
  <div id="footer">
    <p>DS BootCamp Fall 2018</p>
  </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </html>